.footer {
  margin: 67px auto 60px;
}

.footer__description {
  margin: 0;
  color: #545454;
  font-family: "Inter", "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
}
