.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  padding: 0 19px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s linear;
  cursor: pointer;
}

.modal_opened {
  opacity: 1;
  visibility: visible;
}

.modal__container {
  position: relative;
  background-color: white;
  border-radius: 10px;
  padding: 36px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 358px;
  width: 100%;
  height: 256px;
  cursor: default;
}

.modal__picture-container {
  position: relative;
}

.modal__image {
  max-width: 75vw;
  max-height: 75vh;
}

.modal__title {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2;
}

.modal__close {
  background-image: url(../images/close.svg);
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: -45px;
  right: -45px;
  width: 40px;
  height: 40px;
}

.modal__close:hover {
  opacity: 0.6;
}

.modal__heading {
  color: black;
  margin: 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__item {
  padding: 0;
  margin: 0;
  height: 27px;
  border: none;
  border-bottom: 1px solid #000;
  width: 100%;
}

.modal__item::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
}

.modal__item_type_error {
  border-bottom: 1px solid #ff0000;
}

.modal__error {
  display: block;
  width: 100%;
  height: 30px;
  color: #ff0000;
  font-weight: 400;
  font-size: 12px;
  opacity: 0;
}

.modal__error_visible {
  opacity: 100;
}

.modal__button {
  margin-top: 18px;
  height: 50px;
  background-color: #000;
  color: #fff;
  border-radius: 2px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  cursor: pointer;
  border: none;
}

.modal__button_disabled {
  cursor: default;
  background-color: white;
  opacity: 0.2;
  border: 1px black solid;
  color: black;
}

.modal__button:hover {
  opacity: 0.8;
}

.modal__button_disabled:hover {
  opacity: 0.2;
}

@media screen and (max-width: 660px) {
  .modal__container {
    height: 272px;
    padding: 25px 22px;
  }

  .modal__close {
    width: 26px;
    height: 26px;
    right: 8px;
    top: -53px;
  }

  .modal__button {
    font-size: 14px;
    height: 46px;
  }
}
