.page {
  background-color: black;
  color: white;
  font-family: "Inter", "Arial", sans-serif;
}

.page__section {
  max-width: 880px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}

.page__content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@media screen and (max-width: 880px) and (min-width: 661px) {
  .page__section {
    max-width: 650px;
  }
}

@media screen and (max-width: 660px) and (min-width: 481px) {
  .page__section {
    max-width: 480px;
  }
}

@media screen and (max-width: 480px) {
  .page__section {
    max-width: 282px;
  }
}
